#big files
assignments/assignment_01/data
assignments/assignment_02/data 
assignments/assignment_03/data 
assignments/assignment_04/data 
assignments/assignment_05/data/raw
assignments/assignment_05/data/trimmed 
assignments/assignment_06/data 
assignments/assignment_07/data 
assignments/assignment_08/data 
lessons/lesson_05/data
