#big files
assignment/assignment_01/data
assignment/assignment_02/data 
assignment/assignment_03/data 
assignment/assignment_04/data 
assignment/assignment_05/data 
assignment/assignment_06/data 
assignment/assignment_07/data 
assignment/assignment_08/data 
